---
import Container from '@/components/layout/Container.astro'

const d = new Date()
const n = d.getFullYear()
const { settings } = Astro.props
---

<footer
	class="prose max-w-none bg-primary py-6 text-sm text-primary-foreground/50 prose-a:text-primary-foreground/50"
>
	<Container>
		<p>&copy; {n}{' '} {settings?.siteName}</p>

		<a href="https://www.mindmergedesign.com/" class="no-underline">Site by mindmerge </a>
	</Container>
</footer>
