---
import Container from '@/components/layout/Container.astro'

const d = new Date()
const n = d.getFullYear()
const { settings } = Astro.props
---

<footer
	class="prose bg-primary text-primary-foreground/50 prose-a:text-primary-foreground/50 max-w-none py-6 text-sm"
>
	<Container>
		<p>&copy; {n}{' '} {settings?.siteName}</p>
	</Container>
</footer>
