---
import PortableText from '@/components/elements/PortableText.astro'
import { ChevronDown } from 'lucide-astro'

const { accordionItems, class: className, ...rest } = Astro.props
---

<div
	x-data="{ 
        activeAccordion: '', 
        setActiveAccordion(id) { 
            this.activeAccordion = (this.activeAccordion == id) ? '' : id 
        } 
    }"
	class={`relative mx-auto w-full divide-y divide-gray-200 overflow-hidden  ${className}`}
>

{accordionItems?.map(({...item})=>(

	<div x-data="{ id: $id('accordion') }" class="group cursor-pointer prose max-w-none">
		<button
			@click="setActiveAccordion(id)"
			class="w-full"
		>
			<div class="flex w-full select-none items-center p-3 text-left ">
			    <p class="my-0 font-bold w-[90%]">{item?.title}</p>
    			
    			<div class="w-[10%] flex justify-end"><ChevronDown class="text-primary duration-200 ease-out"  :class="{ 'rotate-180': activeAccordion==id }"/></div>
			</div>
		</button>
		<div x-show="activeAccordion==id" x-collapse x-cloak class="px-3 border-t">
			<PortableText portableText={item?.description} />
		</div>
	</div>
	))}
</div>
