---
const { class: className, id, ...rest } = Astro.props
---

<svg
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 372.3 108.5"
	fill="currentColor"
	role="img"
	class={`logo ${className}`}
>
	<title>Title Here</title>
	<text font-family="Helvetica-Light" font-size="89.374" transform="translate(114.006 76.772)">
		LOGO
	</text>
	<path d="M.05 50.524 48.347 2.229 96.64 50.524 48.346 98.819z"></path>
</svg>
